@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format(truetype);
}
@import url('https://fonts.cdnfonts.com/css/coolvetica-2');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

:root{
--cor0: #ebe5c5;
--cor1: #83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: var(--cor0);
font-family: var(--fonte-padrao);
}

header{
background-color: var(--cor4);
min-height: 150px;
}
header > h1{
text-align: center;
color: white;
font-weight: normal;
font-family: var(--fonte-destaque);
padding-top: 30px;
margin-bottom: 20px;

}
header > p{
color: white;
text-align: center;
margin-bottom: 20px;
font-family: var(--fonte-padrao);
}

nav{
background-color: var(--cor5);
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.459);
}

nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-style: normal;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
min-width: 300px;
max-width: 1000px;
background-color: white;
margin: auto;
margin-bottom: 30px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
main > h1{
font-family: var(--fonte-android);
color: var(--cor4);
font-weight: normal;
font-size: 1.8em;
}

main > h2 {
text-align: left;
font-family: var(--fonte-android);
color: #00c53b;
text-indent: 15px;
padding-top: 20px;
font-weight: normal;
}

main > h3{
text-align: left;
font-family: var(--fonte-android);
color: #00c53b;
text-indent: 15px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1en;
}

main img{
    
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}
footer{
background-color: var(--cor5);
text-align: center;
color: white;
padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
text-decoration: underline;
color: var(--cor1);
}